init_config:

instances:
    # Master URL to probe for service health status
  - gitlab_url: http://localhost

    # url of the metrics endpoints of prometheus
    prometheus_core_endpoint: http://localhost:9090/metrics
    prometheus_internal_endpoint: http://localhost:8082/metrics
    prometheus_database_endpoint: http://localhost:9168/database
    prometheus_sidekiq_endpoint: http://localhost:9168/sidekiq

    # The histogram buckets can be noisy and generate a lot of tags.
    # send_histograms_buckets controls whether or not you want to pull them.
    #
    # send_histograms_buckets: True
    #
    # Note that like all checks based on the PrometheusCheck class, you can add
    # tags to the instance that will be added to all the metrics of this check
    # instance.
    #
    # tags:
    #   - 'mytag1:myValue1'

    # The (optional) connect_timeout will override the default value, and fail
    # the check if the time to establish the (TCP) connection exceeds the
    # connect_timeout value (in seconds)
    # connect_timeout: 5

    # The (optional) receive_timeout will override the default value, and fail
    # the check if the time to receive the server status from the Apache server
    # exceeds the receive_timeout value (in seconds)
    # receive_timeout: 15

    # Set to `false` to disable the validation of Gitlab's SSL certificates (default: true).
    # ssl_cert_validation: true

    # If ssl_cert_validation is enabled, you can provide a custom file
    # that lists trusted CA certificates (optional).
    # ssl_ca_certs: /path/to/CA/certificate/file
